
.accent {
  color: $accent;
}

.green {
  color: #1aa51a;
}

.float-right {
  float: right;
}

.message-success {
  color: #1aa51a;
  margin-bottom: 20px;
}

.message-error {
  color: #de4747;
  margin-bottom: 20px;
}
