
// ---------- Imports ----------
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// ---------- Styles ----------
.navbar {
  background-color: $primary;

  .logo {
    line-height: 50px;

    a {
      color: white;
    }
  }

  li {
    a {
      text-align: center;
      color: white;
      height: 48px;

      &:hover {
        height: 45px;
        background: none;
        border-bottom: 3px solid white;
      }
    }
  }
}

.content {
  margin-top: 50px;
}