
// -------------------- Imports --------------------
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// -------------------- Global --------------------
.accent {
  color: $accent;
}

html, body {
  background-color: $dark-grey;
}

.navbar {
  background-color: $medium-grey;;

  .logo {
    line-height: 50px;

    img {
      width: 90px;
    }
  }

  li {
    a {
      color: white;
      height: 48px;
      text-align: center;

      &:hover, &:focus {
        background: none;
        border-bottom: 3px solid $accent;
        height: 45px;
      }
    }
  }
}

form {
  label {
    color: white;
  }

  .form-control {
    background-color: $medium-grey;
    border: none !important;
    border-radius: 4px;
    box-shadow: none !important;
    color: white;

    &:focus {
      border: none;
    }
  }

  .btn, a {
    float: right;
    margin-left: 10px;
  }
}

.message-success {
  color: #1aa51a;
  margin-bottom: 20px;
}

.message-error {
  color: #de4747;
  margin-bottom: 20px;
}

button {
  &:focus {
    outline: none;
  }
}

.btn {
  background-color: $accent;
  color: white;
  float: right;
  margin-left: 15px;
  outline: none !important;
  width: 100px;

  &:hover {
    color: lightgrey;
  }
}

.dropdown {
  .user {
    color: white;
    float: right;
    line-height: 50px;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .dropdown-menu {
    background-color: $medium-grey;
    padding: 10px 10px 5px;
    margin-top: 45px;

    a {
      color: white;
      display: block;
      text-decoration: none;
      margin-bottom: 5px;

      &:hover {
        color: $accent;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.header {
  color: white;
  border-bottom: 2px solid $accent;
  display: inline-block;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 35px;

  p {
    margin: 5px;
  }
}

.modal {
  .modal-body {
    background-color: $medium-grey;
    border-radius: 4px;
    color: white;
    padding: 25px;

    .cancel {
      background: none;
    }
  }
}

// -------------------- Content --------------------
.content {
  margin-top: 70px;

  .login {
    margin-top: 150px;

    .login-logo {
      color: white;
      text-align: center;
      margin-bottom: 50px;

      img {
        height: 200px;
      }
    }
  }

  .deployment-plans, .projects {
    table {
      color: #d0d0d0;
      width: 100%;

      thead {
        border-bottom: 1px solid $light-grey;
        color: white;
      }

      tbody {
        border-top: 1px solid $light-grey;
      }

      tr {
        &:nth-child(even) {
          background-color: $medium-grey;
        }

        th, td {
          padding: 7px 10px;
          text-align: left;
          
          button, i {
            color: $accent;
            background: none;
            border: none;
            font-size: 17px;
            float: right;
            margin-left: 15px;
            padding: 0;
          }
        }

        .project-name {
          border-bottom: none;
          background-color: $dark-grey;
        }
      }
    }
  }
}

