
// ---------- Imports ----------
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// ---------- Styles ----------
html, body {
  background-color: $medium-grey;
}

.navbar {
  background-color: $dark-grey;;

  .logo {
    line-height: 50px;

    a {
      color: white;
    }
  }

  li {
    a {
      color: white;
      height: 48px;
      text-align: center;

      &:hover {
        background: none;
        border-bottom: 3px solid $accent;
        height: 45px;
      }
    }
  }
}

.content {
  margin-top: 50px;

  .login {
    margin-top: 150px;

    .login-logo {
      color: white;
      text-align: center;
      margin-bottom: 50px;

      img {
        height: 200px;
      }
    }
  }
}

form {
  .form-control {
    background: none;
    border: none !important;
    border-bottom: 2px solid $accent !important;
    border-radius: 0;
    box-shadow: none !important;
    color: white;

    &:focus {
      border: none;
    }
  }
  
  button, a {
    float: right;
    margin-left: 10px;
  }
}

.btn {
  background-color: $accent;
  color: white;
  outline: none !important;
  width: 100px;

  &:hover {
    color: lightgrey;
  }

  &.g-login {
    background-color: #df4933;
    width: 40px;
  }
}